@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12px;
}

body {
    background: linear-gradient(
        180deg,
        #e5e7eb 0%,
        #d1d5db 50%,
        #c4c9d1 100%
    );
    min-height: 100vh;
    padding: 12px;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 5rem !important;
}